# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production builds
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# Playwright
test-results/
playwright-report/
playwright/.cache/ 
ARCHIVE/Weeb-Central-HTML/Screenshot 2025-07-13 212702.png
ARCHIVE/Weeb-Central-HTML/Screenshot 2025-07-13 212718.png
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY7E9FNDZ1DBBM6PBJPFK.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY7J3JG2QXG88XMWVXX2S.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY7JHX8BFW0HSFNCT1CQ2.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY7KT7J224EBK6J816Y1Q.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY7NTFZWNMB6A8V6G7RJA.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY7P3BCR7KJ37JYTBC42X.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY7S2R3W6DEH9MS2NYKSC.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY7Z7TVCFG33QYTDPYYGQ.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY8N9NXEH410W2HMM06GR.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY8WFCDJ420S1AMW6B83M.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY9BH59RTW1W2YCYP4H7P.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY9CR30YV3DV7EKB49J02.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY9S7B1X2SR8706TS573J.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY9V1CXSGEQ4SW41FWRAW.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY9WY1HW989FW5G9ZYE9G.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY86N53TEGQW5DW3VB9EK.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XY88Y6JAA1SMGE44N7TAQ.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XYA0AQBRX1317XQB2Z6EN.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XYAQSGEJPXCSCVPQ3MHZM.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XYARF9B2BH8PFSZQT4748.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XYAY9KX2FWCY1HRXS23RP.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XYAY86MQE9VDQJYV9370H.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XYAYRTRY37H24PE10T5DR.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XYB7C9TMA6MY4NSGZVEVY.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XYB8FDE17P37NA5HFJABE.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XYBEW270M8R3SJCCNCHD0.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XYBF73HMS1ZNDHZ8Q99EN.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XYBHHJAB6AXM3SA8G9AFQ.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XYBQSS995BVKW6JWPCTX8.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XYBR1MCJRAC38DK6C1AC9.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XYC1R55HZ6V3566J3TPA2.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central_files/01J76XYC6Q2RR2E9ADXHA41J4N.jpg
ARCHIVE/Weeb-Central-HTML/Advanced Search _ Weeb Central.html
