flask==2.3.2
flask-cors==4.0.0
playwright==1.35.0
requests==2.31.0
beautifulsoup4==4.12.2
python-dotenv==1.0.0
lxml==4.9.3
SQLAlchemy==2.0.29
psycopg2-binary==2.9.9
flask-bcrypt==1.0.1
flask-sqlalchemy==3.1.1
PyJWT==2.8.0
redis==5.0.1
flask-limiter==3.5.0
flask-mail==0.9.1 